.thread-list {
  float: left;
  margin-left: 20px;
  width: 65%;
  padding-top: 20px;
  text-align: left;
}

.side-panel {
  float: right;
  width: 30%;
  padding-top: 20px;
}

.side-panel button {
  margin-top: 10px;
  width: 160px;
}

.thread-list-item {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 25px;
}

.thread-list-title {
  font-weight: bold;
}

.thread-list-title:hover {
  text-decoration: none;
}

.thread-list-author {
  color: #000000;
}
.thread-list-author:hover {
  text-decoration: none;
}

.details-bar {
  text-align: center;
}

.pagination {
  justify-content: center;
}
